obj/
.vs/
bin/

workshop-gui-uploader.VC.VC.opendb
workshop-gui-uploader.VC.db
workshop-gui-uploader.sln
workshop-gui-uploader.vcxproj

lib/vc_lib/**/*
!lib/vc_lib/README
libs/windows/**/*
!libs/windows/README
include/msvc/**/*
!include/msvc/README
include/steam/**/*
!include/steam/README
include/wx/**/*
!include/wx/README